.coverage
subunit.log
.venv
*,cover
cover
*.pyc
.idea
*.sw?
*~
AUTHORS
build
dist
python_afloclient.egg-info
ChangeLog
run_tests.err.log
.testrepository
.tox
doc/source/api
doc/build
*.egg
afloclient/versioninfo
files.txt
etc/afloclient/afloclient.*
.settings
.project
.pydevproject
